{% extends 'base.html.twig' %}

{% block title %}Connectez vous!{% endblock %}

{% block body %}
   
    
    <!--*******************
	  Preloader start
  ********************-->
  {#  <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>#}
    <!--*******************
        Preloader end
    ********************-->
    
    
    
    
    
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="{{ path('home') }}"> <h4>Jobcleaning.fr</h4></a>
    
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
        
                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                  
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div class="form-group">
                                        <h1 class="h3 mb-3 font-weight-normal">Identifiez vous</h1>
                                        <label for="inputUsername">Login</label>
                                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label class="mt-2" for="inputPassword">Mot de passe</label>
                                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    </div>
                                    <button class="btn login-form__btn submit w-100" type="submit">Connexion</button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}
