{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
	<form id="formulaire_filtre_liste_tache" action="{{ path('liste-taches-filtre') }}" >
		<div class="row">
			<div class="col-md-12 div_inline_flex">
			<div class="col-md-6 div_inline">
				<select class="form-control select_liste_tache" name="IDPiece" id="" >
					<option value="all" >Pièce</option >
					{% for Piece in listePieces %}
					<option value="{{ Piece.id }}">{{ Piece.intitule }}</option >
					{% endfor %}
				</select >
			</div>
			<div class="col-md-6 div_inline">
				<select class="form-control select_liste_tache" name="" id="" >
					<option value="all" >Etat</option >
					<option value="" >Fait!</option >
					<option value="" >Pas fait!</option >
				</select >
			</div>
			</div>
		</div>
		
	</form >
	<div class="container mt-5">
	{% for Piece in listePieces %}
		<h3 >{{ Piece.intitule }}</h3 >
		<div class="box">
			<div class="box-body">
			{% for Tache in Piece.getTache() %}
				<div ><a href="{{ path('tache', {'id':Tache.id}) }}"><i class="mdi {{ Tache.icon }}"></i> {{ Tache.intitule }}</a></div>
			{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}